.contato{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    align-items: center ;
    gap: 1rem;
}

@media screen and (min-width: 998px) {
    .contato{
        flex-direction: row;
    }
}