.about{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 998px){
    .about{
        flex-direction: row;
        align-items: center;
    }
}