.banner__lista{
    color: var(--text-reverse-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.58rem;
    margin: 1rem auto;
    max-width: 80vw;
}